.journal-entry {
  margin-top: 2em;
}

#jumbo-title {
  padding: 1em;
}

.jumbotron {
  background-color: rgb(224, 205, 125) !important;
}

.mood-btn {
  margin: 0.5em;
  padding: 0.5em;
  background-color: rgb(212, 189, 138);
  border-radius: 8px;
}

.mood-title {
  display: block;
}



.nav-menu {
  top: 5em;
  bottom: 0;
}

.journal-container {
  background-color: cornsilk;
  border-width: 4px;
  border-radius: 9px;
  border-color: chocolate;
  border-style: dotted;
  margin: 1em;
}

.mood-entry {
  background-color: darkkhaki;
  border-radius: 9px;
  padding: 0.5em;
}

.menu-btn {
  margin: .1em;
  background-color: rgb(50, 153, 50) !important;
}

.badge {
  margin-left: 6px;
}